.contact-us-container {
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
}
.contact-us-intro-statement {
  text-align: center;
}
.address-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  text-align: center;
  margin-top: 20px;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 50px;
}
.div1, .div3, .div5, .div7 {
  border: 5px solid #e6f5b4;
  border-radius: 5px;
  white-space: normal;
  height: 150px;
}
.div2, .div4, .div6, .div8 {
  border: 5px solid #e6f5b4;
  border-radius: 5px;
  white-space: normal;
  height: 150px;
}
.fa {
  font-size: 30px;
}

.form-container {
  margin-bottom: 30px;
}

#form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

#form input[type="text"], #form textarea {
    width: 50%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form input[type="submit"] {
    width: 50%;
    background-color: #fc0334;
    opacity: 0.8;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#form input[type="submit"]:hover {
    width: 50%;
    background-color: #fc0334;
    opacity: 1;
}
